body{

    background-image: url(/Imgs/istockphoto-1350046657-612x612.jpg);
    background-size:100%;
    background-repeat: no-repeat;

}

.Container{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

h1{

    text-align: center;
    margin: 10%;
    color: aliceblue;

}    
