body{

    background-color: antiquewhite;
    background-image: url(.);

}

.Contexto{

    font-weight: 600;

}

input{

    border: 2px solid rgb(128, 128, 128);
    outline: 0;
    margin-bottom: 20px;
    margin-top: 20px;

}    

input:focus{

    color: rgb(34, 37, 194);

}

.Container{
    
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: block;

}

h1{
    margin-bottom: 50px;
}

label{
    margin-bottom: 20px;
}

.profile-picture {
    margin-bottom: 3%; 
}

.profile-picture img {
    border-radius: 20px; 
    width: 20%; 
    height: 20%; 
    border: 3px solid #343a40; 
}
